.user-content {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}

.user-item img {
    display: block;
    border-radius: 100%;
    width: 80px;
}

.user-item button {
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    background-color: rgb(238, 232, 200);
    border-radius: 4%;
}