a.active {
    color: orange;
}

.dialog-content img {
    border-radius: 100%;
    width: 80px;
    height: 80px;

}

.messages-item {
    overflow: hidden;
    margin-bottom: 5px;
    padding: 5px;
    word-break: break-all;
    color: rgb(163, 159, 159);
}

.bubble {
    min-height: 40px;
    max-width: 200px;
    min-width: 50px;
    margin-left: 40px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid #717374;
    display: block;
    position: relative;
    /* box-shadow: 1px -1px 3px 1px rgba(80, 80, 80, 0.5); */
}

.bubble::after {
    content: "";
    width: 20px;
    height: 22px;
    border-left: 1px solid #6f7172;
    border-bottom: 1px solid #717374;
    position: absolute;
    bottom: -11px;
    left: 5px;
    /* background-image: url("./Снимок\ экрана\ 2020-09-24\ в\ 19.48.27.png"); */
    transform: skewX(-30deg) skewY(-48deg);
}

.bubble-in {
    border-radius: 12px;
    padding: 3px;
    overflow: hidden;
    display: flex;
    position: relative;
    z-index: 2;
}

.dialog-content {
    display: flex;
    align-items: end;
    margin-top: 10px;
    margin-left: 30px;
}


.dialog-name {
    margin-top: 10px;
    text-align: center;
}

hr {
    width: 1000px;
}
