.navbar-wrapper {
    grid-area: n;
    background-color: rgb(150, 219, 213);
    opacity: 0.8;
    padding: 10px;
    max-width: 200px;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/655a7668306315.5b5852c0b751f.jpg');
    box-shadow: 1px -1px 3px 1px rgba(163, 162, 162, 0.5);
}
.navbar-item {
    text-align: center;
    box-shadow: 1px -2px 3px 1px rgba(106, 153, 139, 0.9);
    width: 100%;
    border-radius: 5px;
    margin-bottom: 4px;
}

.navbar-item:hover {
    transition: all 0.7s ease;
    background-color: rgba(182, 172, 182, 0.2);
}

.navbar-item a {
    font-size: 20px;
    color: white;
}

.navbar-item a:hover {
    transition: all 0.7s ease;
    text-decoration: none;
}

.navbar-item a.activeLink {
    color: rgb(55, 56, 53);;
}

.friends-wrapper {
    display: flex;
    margin-top: 400px;
    flex-direction: column;
    min-height: 200px;
}

.friends-title {
    text-align: center;
    width: 100%;
    font-size: 25px;
    background-color:  rgba(44, 44, 44, 0.2);
    border-radius: 5px;
}

.friends-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 13x;
    text-align: center;
}



