.poster {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-image: url("Сн.png");
    background-position: -50px 0;
    box-shadow: 1px -1px 3px 1px rgba(89, 90, 88, 0.2);
    margin-left: 5px;
    /* opacity: 0.9; */
}

.descr {
    color: rgb(201, 196, 196);
    padding: 150px;
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
    font-size: 60px;
}
