

.poster-descr {
    color: rgb(201, 196, 196);
    padding: 150px;
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
    font-size: 60px;
}

.profile {
    padding: 50px;
    margin-left: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.profile img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.profile-descr {
    color: white;
    padding-left: 20px;
    padding-top: 10px;
}

.profile-status {
    color: white;
}
