.dialog {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.messages {
    padding: 10px;
}

.dialogsItem a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.active {
    color: orange;
}
