.dialog {
    display: flex;
    background-color: rgb(248, 250, 246);
}

.dialog-item a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dialog-item a:hover {
    text-decoration: none;
}

/* .messages {
    margin-top: 3px;
    min-height: 40px;
} */
.dialog-item {
    display: flex;
    flex-direction: column;
}


