.dialog {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */

}

.dialog-item a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dialog-item a:hover {
    text-decoration: none;
}

.messages {
    margin-top: 3px;
}

/* .dialog-item {
    display: flex;
    flex-wrap: wrap;
} */

